.contact-head {
    text-align: center;
    padding: 15px 0px;
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.679);

}


.register-btn {
    background-color: yellow;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}